<li class="list-group-item px-3 border-2 rounded-3 list-group-item-success mb-2 p-0">
    <div class="row">
        <button class="btn btn-sm" type="button" (click)="onGoalClick()">
            <div class="row">
                <div class="col"><small>{{goal?.startsAt}} - {{goal?.endsAt}}</small></div>
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <small>{{goal?.status}}</small>
                    </div>
                </div>
            </div>
        </button>
    </div>
</li>