<li class="list-group-item px-3 border-2 rounded-3 list-group-item-success mb-2 p-0">
    <div class="row">
        <div class="col"><small><span class="me-1">name:</span>{{workoutExercise?.exercise?.name}}</small></div>
        <div class="col"><small><span class="me-1">target:</span>{{workoutExercise?.exercise?.muscleGroup}}</small></div>
        <div class="col"><small><span class="me-1">sets:</span>{{workoutExercise?.sets}}</small></div>
        <div class="col"><small><span class="me-1">reps:</span>{{workoutExercise?.reps}}</small></div>
        <div class="col"><small><span class="me-1">rest:</span>{{workoutExercise?.restMins}}</small></div>
        <div class="col"><small><span class="me-1">duration:</span>{{workoutExercise?.duration}}</small></div>
        <div class="col"><small><span class="me-1">image:</span>{{workoutExercise?.exercise?.imageLink}}</small></div>
        <div class="col"><small><span class="me-1">vedio:</span>{{workoutExercise?.exercise?.videoLink}}</small></div>
    </div>
</li>